<div class="jumbotron text-center" ng-if="!main.loggedIn">
  <div>
    <h3>Signup!</h3>
  </div>
  <div>
    <p>Login to write your idea</p>
    <a href="/login" class="btn btn-primary">Login</a>
  </div>
</div>

<div class="row" ng-if="main.loggedIn">
  <div class="col-md-3"></div>
  <div class="col-md-4" ng-controller="IdeaController as ideaCtrl">
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-heading">Enter your Idea</div>
        <div class="panel-body">
          <form ng-submit="ideaCtrl.createIdea()">
            <input type="text" 
              name="idea" 
              ng-model="ideaCtrl.ideaData.content" 
              placeholder="...." 
              required
              class="form-control input-lg"
            />
          </form>
        </div>
      </div>  

      <div class="panel panel-success">
        <div class="panel-heading">
          Your Ideas <span style="float:right" >({{ ideaCtrl.ideas.length|| 0 }})</span><!--Move style to CSS-->
        </div>
        <div class="panel-body">
          <p  ng-repeat="idea in ideaCtrl.ideas track by $index">
            {{ idea.content }}
          </p>
        </div>

      </div>
    </div>

  </div>
  <div class="col-md-3"></div>
</div>

